body {
	background: url("/img/bg2.jpg");
	background-size: cover;
	font-family: sans-serif;
}

::placeholder {
	color: rgba(255, 255, 255, .5);
}

.notification {
    color:white;
    position:absolute;
    right:45px;
    top:45px;
    background-color:red;
    line-height:20px;
    width:32px;
    height:27px;
    border-radius:20px;
    padding-top:6px;
    font-size:18px;
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/ 2);
	left: calc(50% - 50px);
}

.valid {
	margin-top: -14px;
	margin-bottom: 8px;
	height: 15px;
	font-size: 13px;
	color: rgb(238, 255, 2);
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.validadd {
	margin-top: 3px;
	margin-bottom: 0px;
	height: 15px;
	font-size: 13px;
	color: rgb(238, 255, 2);
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.homebutton input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: #ffffff;
	cursor: pointer;
	background: rgb(158, 0, 0);
	border-radius: 10px;
	margin-bottom: 30px;
	font-weight: bold;
}

.homebutton input[type="submit"]:hover {
	background: white;
	color: rgb(255, 0, 0);
	font-weight: bold;
}

.homebutton h3 {
	margin-bottom:-15px;
	font-weight: bold;
	font-size:18px;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 0px;
	color: white;
	font-weight:bold;
	font-size: 14px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #eee;
	border-radius: 50%;
}

.container:hover input ~ .checkmark {
	background-color: #ccc;
}

.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*addtosystem*/

.addtosystem {
	border-radius: 15px;
	position: absolute;
	padding: 40px 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 610px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.addtosystem h2 {
	margin: 10px;
	padding: 0 0 30px;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}
.Box option{
	width: 100%;
}
.addtosystem p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.addtosystem input {
	width: 100%;
	margin-bottom: 15px;
}

.addtosystem input[type="text"] {
	border-bottom: 1px solid rgb(4, 255, 234);
	background: transparent;
	outline: none;
	height: 20px;
	color: white;
	margin-bottom: -10px;
	font-size: 16px;
}

.addtosystem input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}

.addtosystem input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}

.addtosystem a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

/*end*/


.liststores{
	outline:none;
	width:150px;
	height:30px;
	background-color:#800000;
	color:white;
}
.addstore {
	border-radius: 15px;
	position: absolute;
	padding: 40px 40px;
	top: 55%;
	left: 78%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 500px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.addstore h3 {
	margin: 0;
	font-size:14px;
	padding: 0 0 20px;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}

.addstore p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 14px;
}
.addstore input {
	width: 100%;
	margin-bottom: 15px;
}

.addstore input[type="text"] {
	border-bottom: 1px solid rgb(4, 255, 234);
	height: 20px;
	color: black;
	margin-bottom: 10px;
	font-size: 16px;
}

.addstore input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}

.addstore input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}


.Box {
	border-radius: 15px;
	position: absolute;
	padding: 40px 40px;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 670px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.Box h2 {
	margin: 10px;
	padding: 0 0 30px;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}

.Box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.Box input {
	width: 100%;
	margin-bottom: 15px;
}

.Box input[type="text"] {
	border-bottom: 1px solid rgb(4, 255, 234);
	background: transparent;
	outline: none;
	height: 20px;
	color: white;
	margin-bottom: -10px;
	font-size: 16px;
}

.Box input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}

.Box input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}

.Box a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


.storeownerview {
	border-radius: 15px;
	position: absolute;
	padding: 80px 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.storeownerview input[type="submit"],button {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 100%;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}

.storeownerview input[type="submit"]:hover,button:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}



.storeview {
	border-radius: 15px;
	position: absolute;
	padding: 60px 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.storeview input[type="submit"],button {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 100%;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}


.storeview button {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 100%;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}


.storeview input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}


.storeview button:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}

.adminBox {
	border-radius: 15px;
	position: absolute;
	padding: 60px 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.adminBox input[type="submit"],button {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 100%;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}


.adminBox button {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 100%;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}


.adminBox input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}


.adminBox button:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}


.loginBox {
	border-radius: 15px;
	position: absolute;
	padding: 80px 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 460px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.loginBox h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}

.loginBox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.loginBox input {
	width: 100%;
	margin-bottom: 15px;
}

.loginBox input[type="text"], .loginBox input[type="password"] {
	border: none;
	border-bottom: 1px solid rgb(4, 255, 234);
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
}

.loginBox input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
}

.loginBox input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}

.loginBox a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.Registration {
	border-radius: 15px;
	position: absolute;
	padding: 75px 40px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 650px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.534);
}

.Registration h2 {
	margin: 0;
	padding: 0 0 0 0;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}


.Registration h3 {
	margin: 0;
	font-size:14px;
	padding: 0 0 20px;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: rgb(253, 253, 253);
}

.Registration p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.Registration input {
	width: 100%;
	margin-bottom: 15px;
}

.Registration input[type="text"], .Registration input[type="password"] {
	border: none;
	border-bottom: 1px solid rgb(4, 255, 234);
	background: transparent;
	outline: none;
	height: 35px;
	color: white;
	font-size: 16px;
}

::placeholder {
	color: rgba(255, 255, 255, .5);
}

.Registration input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 40px;
	color: white;
	cursor: pointer;
	background: rgb(1, 1, 94);
	border-radius: 50px;
	margin-bottom: 30px;
	margin-top: 12px;
}

.Registration input[type="submit"]:hover {
	background: white;
	color: rgba(4, 4, 160, 0.87);
	font-weight: bold;
}

.showtableA button,input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 20px;
	color: white;
	cursor: pointer;
	background: rgb(0, 102, 0);
	border-radius: 50px;
}

.showtableA button,input[type="submit"]:hover {
	background: white;
	color: rgb(0, 102, 0);
}


.showtableR button,input[type="submit"] {
	border: none;
	outline: none;
	font-size: 16px;
	height: 20px;
	color: #ffffff;
	cursor: pointer;
	background: rgb(158, 0, 0);
	border-radius: 10px;
}

.showtableR button,input[type="submit"]:hover {
	background: white;
	color: RGB(255,0,0);
}

.Registration a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


.showtable {
	border-collapse: collapse;
	width: 70%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	position: fixed;
	padding: 80px 40px;
}

.showtableS {
	border-collapse: collapse;
	width: 70%;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 80px 40px;
}

th, td ,thead{
	font-weight:bold;
	text-align: left;
	padding: 8px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #dce2dd;
}
tr:nth-child(odd) {
	background-color: #8d968d;
}

.theader {
	background-color: #008040;
	color: white;
}

.tdshow {
	font-size: 16px;
	color: yellow;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}