<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/add-product-to-system.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Product</title>
</head>
<body>
	<div class="addtosystem">
		<h2>Add Product To System</h2>
		<form name="addProduct" th:object="${product}" th:action="@{/add-product-to-system}"
			  onsubmit="return addproductvalid()"
			method="post">
			<p>Name</p>
			<input name="name" type="text" th:field="*{name}"></input>
			<div id="validname" class="validadd"></div>
			<br></br>
			<p>Brand</p>
			<br></br>
			<select id="brand" class="listbrand" th:field="*{brand.name}">
			</select>
			<br></br><br></br>
			<p>Category</p>
			<br></br>
			<select id="category" class="listbrand" th:field="*{brand.category}">
			</select>
			<br></br><br></br>
			<p>Type</p>
			<input name="type" type="text" th:field="*{type}"></input>
			<div id="validtype" class="validadd"></div>
			<input type="submit" value="Submit"></input>
		</form>
		
		<form name="cancel" th:action="@{/admin-view}" method="get">
		<input type="submit" value="Cancel"></input>
		</form>
	</div>
</body>
</html>
