<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="valid.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Add Product</title>
</head>
<body>
        <div class="form"> 
            <h2>Add Product</h2>
            <form name="addproduct" action="#" th:action="@{/add-product}" th:object="${Product}" onsubmit="return addproductvalid()" method="post">
                Name <input name="name" type="text" th:field="*{id}"><br>
                Price <input name="price" type="text" th:field="*{price}"><br>
                Type <input name="type" type="text" th:field="*{type}"><br>
                Brand <input name="brand" type="text" th:field="*{brand}"><br>
                Category<input name="category" type="text" th:field="*{category}"><br>
                Quantitiy<input name="quantitiy" type="text" th:field="*{quantitiy}"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>
