<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/style.css"></link>
<script type="text/javascript" src="valid.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Add Product</title>
</head>
<body>
        <div class="form"> 
            <h2>Add Product</h2>
            <form name="addProduct"  th:action="@{/add-product}" th:object="${product}" onsubmit="return addproductvalid()" method="post">
                Name <input name="name" type="text" th:field="*{name}"></input><br></br>
                Price <input name="price" type="text" th:field="*{price}"></input><br></br>
                Type <input name="type" type="text" th:field="*{type}"></input><br></br>
                Brand <input name="brand" type="text" th:field="*{brand}"></input><br></br>
                Category<input name="category" type="text" th:field="*{category}"></input><br></br>
                Quantity<input name="quantity" type="text" th:field="*{quantity}"></input><br></br>
                <input type="submit" value="Submit"></input>
            </form>
        </div>
</body>
</html>
