<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Admin View</title>
</head>
<body>
	<div class="adminBox">
	
		<form name="add" th:action="@{/add-product}" method="get">
			<input type="submit" value="Add Product"></input>
		</form>
		
		<form name="show" th:action="@{/show-all-product}" method="get">
			<input type="submit" value="Show All Products" ></input>
		</form>
		
		<form name="logOut" th:action="@{/logout}" method="post">
			<input type="submit" value="Log out" ></input>
		</form>		
		
	</div>
</body>
</html>
