<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/admin-view.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Admin View</title>
</head>
<body>
	<div class="btn-bar">
		<form name="logOut" th:action="@{/logout}" method="post">
			<button  value="Log out">Log out</button>
		</form>
		<button id="Requests">
			Requests
			<div id="not" class="notification"></div>
		</button>
		<button id="addproduct">Add Product</button>
		<button id="addbrandtosystem">Add Brand</button>
		<button id="showallproducts">Show All Product</button>
	</div>
	<div id="adminwindow" class="adminpanel"></div>
</body>
</html>
