<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/store-owner-view.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Collaborator</title>
</head>
<body>
	<div class="btn-bar">
		<form name="logOut" th:action="@{/logout}" method="post">
			<button  value="Log out">Log out</button>
		</form>
		<button id="addprodcttostore">Add Store Product</button>
		<div class="divlist">
				Stores:
				<select id="list" class="liststores">
					<option value="All">All</option>
				</select>
		</div>
		<div id="statistics" class="statistics">
			
		</div>
	</div>
	<div id="storeownerwindow" class="adminpanel">
	</div>
</body>
</html>
