<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Login</title>
</head>
<body>
        <div class="loginBox">           
            <img src="/img/user.png" class="avatar"></img>
            <h2>Log In</h2>
            <form action="#" name="loginform" th:action="@{/login}" method="POST" onsubmit="return loginvalid()">
                <p>UserName</p>
                <input name="username" type="text" placeholder="User Name"></input>
                <div id="validname" class="valid"></div>
                <p>Password</p>
                <input name="password" type="password" placeholder="*******"></input>
                <div id="validpassword" class="valid"></div>
                <input type="Submit" value="Log In"></input>
                <a th:href="@{/Registration}">Registration</a>
            </form>
        </div>
</body>
</html>
