<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/user-view.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>User View</title>
</head>
<body>
	<div class="btn-bar">
		<form name="logOut" th:action="@{/logout}" method="post">
			<button  value="Log out">Log out</button>
		</form>
		<div class="search-container">
		<input type="text" placeholder="Search.." name="search"></input>
      	<button type="submit"><i class="fa fa-search"></i></button>
		</div>
		<button id="buyproduct">Buy Product</button>
	</div>
	<div id="userwindow" class="adminpanel"></div>
</body>
</html>
