<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<title>show all products</title>
</head>
<body>
	<div class="homebutton">
		<form th:action="@{/admin-view}"
			th:Object="${user}" method="get">
			<input type="Submit" value="Home Page"></input>
		</form>
	</div>
	<table class="showtable">
		<tr class="theader">
			<td class="tdshow">ID</td>
			<td class="tdshow">Name</td>
			<td class="tdshow">Type</td>
			<td class="tdshow">Brand</td>
			<td class="tdshow">Category</td>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>
			<td th:text="${product.type}"></td>
			<td th:text="${product.brand}"></td>
			<td th:text="${product.category}"></td>
		</tr>
	</table>
</body>
</html>