<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.slim.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script th:inline="javascript">
	
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Store Owner View</title>
</head>
<body>
	<div class="homebutton">
		<form name="add" th:action="@{/add-product-to-store}" method="get">
			<input type="submit" value="Add Product"></input>
		</form>
		<form name="add" th:action="@{/store-owner-view}" method="get">
			<input type="submit" value="Store Owner Panel"></input>
		</form>
	</div>
	<div class="homebutton">
		<select>
			<option value="">Stores</option>
			<option th:each="store : ${stores}" th:value="${store.storeName}" 
			th:text="${store.storeName}"></option>
		</select>
	</div>
	<table class="showtable">
		<tr class="theader" style="background-color: #008040;">
			<td class="tdshow">ID</td>
			<td class="tdshow">Name</td>
			<td class="tdshow">Price</td>
			<td class="tdshow">Type</td>
			<td class="tdshow">Brand</td>
			<td class="tdshow">Category</td>
			<td class="tdshow">Quantity</td>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>
			<td th:text="${product.price}"></td>
			<td th:text="${product.type}"></td>
			<td th:text="${product.brand}"></td>
			<td th:text="${product.category}"></td>
			<td th:text="${product.quantity}"></td>
		</tr>
	</table>
</body>
</html>
