<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/store-view.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Store Owner View</title>
</head>
<body>

	<div class="homebutton">
		<button id="addprodcttostore" value="Add Product">Add Product</button>
		<form name="add" th:action="@{/store-owner-view}" method="get">
			<input type="submit" value="Store Owner Panel"></input>
		</form>
		<h3>Stores:</h3>
		<br></br> 
		<select id="list" class="liststores">
			<option value="ALL">ALL</option>
			<option th:each="store : ${stores}" th:value="${store.storeName}" th:text="${store.storeName}"></option>
		</select>
	</div>
	<div id="table">
		<table id="products" class="showtable">
			<thead>
				<tr class="theader" style="background-color: #008040;">
					<th class="tdshow">ID</th>
					<th class="tdshow">Name</th>
					<th class="tdshow">Price</th>
					<th class="tdshow">Type</th>
					<th class="tdshow">Brand</th>
					<th class="tdshow">Category</th>
					<th class="tdshow">Quantity</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div id="addproduct" class="Box">
		<h2>Add Product To Store</h2>
		<form>
			<p>Product Name</p>
			<br></br>
			<select id="ProductName" class="lists">
			<option ></option>
			</select>
			<br></br><br></br>
			<p>Price</p>
			<input name="price" type="text"></input>
			<div id="validprice" class="validadd"></div>
			<br></br>
			<p>Brand</p>
			<br></br>
			<select id="Brand" class="lists">
			<option ></option>
			</select>
			<br></br><br></br>
			<p>Category</p>
			<br></br>
			<select id="Category" class="lists">
			<option ></option>
			</select>
			<br></br><br></br>
			<p>Quantity</p>
			<input name="quantity" type="text"></input>
			<div id="validquantity" class="validadd"></div>
			<br></br>
			<input type="submit" value="Submit"></input>
		</form>
		<button id="addproductcancel" value="Cancel">Cancel</button>
	</div>
</body>
</html>
