<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/view-request-stores.js"></script>
<title>view-request-stores</title>
</head>
<body>
	<div class="homebutton">
		<form th:action="@{/admin-view}" method="get">
			<input type="Submit" value="Admin Panel"></input>
		</form>
	</div>
	<table id="requesttable" class="showtableS">
		<tr class="theader" style="background-color: #008040;">
			<td class="tdshow">Store owner</td>
			<td class="tdshow">Store</td>
			<td class="tdshow">Accept</td>
			<td class="tdshow">Reject</td>
		</tr>
		<tr th:each="store : ${stores}">
			<td th:text="${store.storeOwner.username}"></td>
			<td th:text="${store.storeName}"></td>
			<td><form class="showtableA">
					<button id="accept" name="btnacc" th:value="${store.storeName}">accept</button>
				</form></td>
			<td><form class="showtableR">
					<button id="reject" name="btnrej" th:value="${store.storeName}">reject</button>
				</form></td>
		</tr>
	</table>
</body>
</html>